@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);

@import url(https://fonts.googleapis.com/css?family=Courgette);

body {
  background-color: #ae0002;
}

#main-doc {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  margin: 0px 170px 0px 170px;
}

hr {
  color: #ffffff;
}

nav {
  background-color: #ae0002;
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 85px;
}

a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: block;
}

a:hover {
  color: #001f7e;
  text-decoration: underline dashed #ffffff;
}

#nav {
  color: #001f7e;
  font-family: "Bebas Neue";
  font-size: 40px;
  text-decoration: none;
  text-shadow: 2px 2px #b3bcd8;
  padding: 5px;
}

h1 {
  color: #001f7e;
  font-family: "Bebas Neue";
  font-size: 70px;
  font-weight: 700;
  text-decoration: underline double #ae0002;
  margin: 20px;
}

.hellogoodbye {
  font-size: 20px;
  font-family: "Courgette";
  line-height: 22px;
  margin: 10px;
}

#spicegirls {
  border-radius: 20%;
  width: 100%;
  max-width: 800px;
  height: auto;
}

#spicegirls2 {
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 400px;
}

header {
  color: #ae0002;
  font-family: "Bebas Neue";
  font-weight: 700;
  font-size: 50px;
  text-decoration: underline dotted #001f7e;
  padding: 20px 0px 10px 0px;
}

p {
  font-family: Helvetica;
  line-height: 20px;
  margin: 0px 80px 0px 80px;
}

.list {
  font-family: Helvetica;
  line-height: 20px;
  list-style-type: square;
  text-align: left;
  margin: 0px 80px 0px 80px;
}

xmp {
  color: #ffffff;
  background-color: #001f7e;
  padding: 2px;
  margin-left: 100px;
  margin-right: 100px;
}

@media screen and (max-width: 500px) {
  body {
    background-color: #ffffff;
  }
  #main-doc {
    padding: 10px;
    margin: 0px 0px 0px 100px;
  }
  nav {
    font-size: 14px;
    padding: 20px 5px 10px 5px;
  }
  #navbar {
    height: 100%;
    width: 100px;
    float: left;
  }
  #nav {
    font-size: 30px;
    text-shadow: none;
  }
  h1 {
    font-size: 45px;
    text-decoration: underline;
    margin: 10px;
  }
  header {
    font-size: 30px;
    text-decoration: underline;
  }
  p {
    margin: 0px 10px 0px 10px;
  }
  .list {
    margin: 0px 10px 0px 10px;
  }
  xmp {
    font-size: 9px;
    margin-left: 5px;
    margin-right: 5px;
  }
}